@charset "UTF-8";

@media screen and (max-width: 480px) {

    body, html {
        height: 100vh;
    }

    input.input_search:hover {
        box-shadow: none;
        right: 2%;
        top: 16%;
    }
    
    button#prev:hover {
        box-shadow: none;
        top: 15%;
        left: 0%;
    }
    
    button#next:hover {
        box-shadow: none;
        top: 15%;
        right: 3%;
    }
}