@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

:root {
    --grad1: #6ab7f5;
    --grad2: #ecffff;
    --pokenameColor: #3a444d;
    --pokenumberColor: #6B6B6B;
    --inputColor: #E3E3E3;
    --shadowInputColor: #6B6B6B;
    --shadowButton: rgb(31, 31, 31);
    --borderLight: rgb(39, 39, 39);
    --borderHeavy: rgb(15, 15, 15);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body,
html {
    background: linear-gradient(to bottom, var(--grad1), var(--grad2)) fixed;
    height: 100vh;
    position: relative;
}

main {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

img#pokedex {
    min-width: 425px;
    padding: 36px;
    width: 100%;
}

img.pokemon_image {
    width: 24%;
    position: absolute;
    left: 48%;
    top: 41%;
    transform: translate(-50%, -50%);
}

h1.pokemon_data {
    text-align: right;
    width: 64%;
    color: var(--pokenumberColor);
    position: absolute;
    top: 57%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
}

.pokemon_name {
    text-transform: capitalize;
    color: var(--pokenameColor);
}

form {
    width:60%;
    height: 7%;
    position: absolute;
    left: 46%;
    top: 68%;
    transform: translate(-50%, -50%);
}

input.input_search {
    color: var(--pokenumberColor);
    font-weight: 500;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 97%;
    height: 100%;
    padding: 12px;
    background-color: var(--inputColor);
    box-shadow: -3px 4px 0px var(--shadowInputColor), -5px 6px 0px var(--borderLight);
    border: 2px solid var(--borderLight);
    border-radius: 5px;
    outline: none;
    transition: all 0.2s;
}

input.input_search:active {
    box-shadow: none;
    right: 2%;
    top: 16%;
}

input::placeholder {
    color: var(--pokenumberColor);
    font-weight: 500;
}

div#buttons {
    width: 60%;
    height: 7%;
    position: absolute;
    left: 46%;
    top: 83%;
    transform: translate(-50%, -50%);
}

button.bt {
    position: absolute;
    background-color: var(--pokenameColor);
    border: solid 2px var(--borderHeavy);
    border-radius: 5px;
    top: 0%;
    width: 42%;
    height: 100%;
    cursor: pointer;
    box-shadow: -3px 4px 0px var(--shadowButton), -5px 6px 0px var(--borderHeavy);
    transition: all 0.2s;
}

button.bt:active {
    box-shadow: none;
}

button#prev {
    left: 3%;
}

button#prev:active {
    top: 15%;
    left: 0%;
}

button#next {
    right: 0%;
}

button#next:active {
    top: 15%;
    right: 3%;
}

.nav {
    filter: invert(95%);
    position: relative;
    top: 6%;
    width: 16%;
    display: inline-block;
}